IO_LOC "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC "O_tmds_data_p[0]" 71,70;
IO_LOC "O_tmds_data_p[1]" 73,72;
IO_LOC "O_tmds_data_p[2]" 75,74;
IO_LOC "O_tmds_clk_p" 69,68;


IO_LOC  "led[0]" 10;

IO_LOC  "led[1]" 11;

IO_LOC  "led[2]" 13;

IO_LOC  "led[3]" 14;

IO_LOC  "led[4]" 15;

IO_LOC  "led[5]" 16;

IO_LOC  "btn1" 3;
IO_PORT "btn1" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "btn2" 4;
IO_PORT "btn2" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "btn_space" 25;
IO_PORT "btn_space" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "btn_enter" 26;
IO_PORT "btn_enter" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "btn_backspace" 27;
IO_PORT "btn_backspace" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "btn_left" 29;
IO_PORT "btn_left" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "btn_up" 30;
IO_PORT "btn_up" IO_TYPE=LVCMOS18 PULL_MODE=UP;
